<div class='section col-md-12 text-center visual-space'>

<h1>{{title}}</h1>
</div>
	<img class='img img-responsive col-xs-12' src='/img/tableRockLodge.png' id='lodgePic'></img>
	
<div class='col-sm-12 text-center'>
	<h1 class='heading'>The Wedding</h1>
</div>


<div class='row'>
	<div class='col-sm-6'>
		<div class='text-center col-sm-12'>
			<h3>Saturday | December 5<sup>th</sup> | 3:00</h3>
		</div>
		<div class="col-sm-12 visual-space section">
			<p>The wedding and reception will be held at the foot of Table Rock Mountain, in the Table Rock Lodge (pictured above).</p>
		</div>
	</div>
	<div class='col-sm-6 google-maps'>

		<iframe width="600" height="450" frameborder="0" style="border:0" 
src="https://www.google.com/maps/embed/v1/place?q=Table+Rock+Lodge,+Pickens+County,+SC,+United+States&key=AIzaSyA_Z_NVdz_2-rPbtM6I92p7QU7L7-0Hi3g" "scrollwheel: false" allowfullscreen></iframe>
	</div>
</div>
{{!-- end row....back to base --}}

{{!-- Date, Time, Address; Accommodations; Map to Venue --}}
<div class='col-sm-12 text-center'>
	<h1 class='heading'>Accommodations</h1>
</div>
<div class='text-center col-sm-12'>
			{{!-- <h2>Where to Stay<h2> --}}
		</div>
<div class='row'>
	<div class='col-sm-6'>
		
		<div class="col-sm-12 visual-space section">
			<p>The wedding will take place in the beautiful foothills of the Appalachians, about 45 minutes from the charming city of Greenville, SC. <br><br>There are many hotels in the Greenville area, but for those interested in taking advantage of their beautiful surroundings, there are also cabins in the State Park itself and surrounding area.</p><br><br><br>
		</div>
	</div>
	<div class='col-sm-6'>

		<div class='col-sm-12 visual-space section'>
			<p style='margin-top: -30px'>Semi-rustic<p>	
				<ul>
					<a href='http://www.southcarolinaparks.com/tablerock/lodging.aspx'><li id='hotels'>&nbsp&nbsp&nbsp&nbspCabins within Table Rock State Park</li></a><br>
				</ul >
			<p>Comfortable</p>
				<ul>
					<a href="www.vrbo.com"><li id='hotels'>  &nbsp&nbspVRBO rental properties</a>
					
					<a href='www.expedia.com/Greenville-Spartanburg-Hotels-Hampton-Inn-Easley.h1453465.Hotel-Information?chkin=12/04/2015&chkout=12/06/2015&rm1=a2&hwrqCacheKey=7184ff6e-8977-4c5f-af20-88b4dccefbaaHWRQ1440724388132&c=a761219f-b852-434b-8322-f79e2800c121&&price=110&ts=1440724392521'><li id='hotels'>  &nbsp&nbspHampton Inn – Easley, SC</li></a>
					
					<a href='http://www.tripadvisor.com/Hotel_Review-g54470-d102806-Reviews-Hampton_Inn_Greenville_Travelers_Rest-Travelers_Rest_South_Carolina.html'><li id='hotels'>  &nbsp&nbspHampton Inn – Traveler's Rest, SC</li></a><br>
				</ul>
			<p>City Slickers</p>
				<ul>
					<li id='hotels'><a href='http://lmgtfy.com/?q=hotels+in+Greenville%2C+SC'>&nbsp&nbsp&nbsp&nbspMany options!</a></li><br>
				</ul>
		</div>
	</div>
</div>
{{!-- </div> --}}
<div class='col-sm-12 text-center'>
	<h1 class='heading'>Registry</h1>
</div>
<div class='text-center col-sm-12'>
			{{!-- <h2>Where to Stay<h2> --}}
		</div>
<div class='row'>
	<div class='col-sm-6'>
		 
		<div class="col-sm-12 visual-space section">
			<p>Aaron and Sarah would happily accept wedding gifts including cars and beachside timeshares; but if you'd prefer something more traditional, please consider one of these fine retailers: <p/>	
		</div>
	</div>
	<div class='col-sm-6'>

		<div class='col-sm-12 visual-space section'>
			<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542369664&pwsurl="><img class='img img-responsive col-xs-6' src='/img/BBBeyond.png' style='opacity: .7;'><img/><a/>

			
			{{!-- <a href= --}}
				
		</div>
	</div>
</div>


	




