<!DOCTYPE html>
<html>
  <head>
  	<html lang="en">
	
	<title>{{title}}</title>
	{{!-- meta tags --}}
    <meta name="description" content="Sarah and Aaron's Wedding">
    <meta name="author" content="Benjamin Downs">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
{{!--   <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300' rel='stylesheet' type='text/css'> --}}
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
	
		<!--script type="text/javascript" src="js/jquery.nav.js"></script-->
</head>
  <body>
  <div class='wrap'>
    <header>
      <nav>
        <div class="header">
          <div class="navbar hidden-phone hidden-tablet hidden-xs">
            <a href="/" class="link">
              <div class="title">home</div>
              <div class="bar"></div>
              <div class="leftbar"></div>
            </a>
            <a href="/rsvp" class="link">
              <div class="title">rsvp</div>
              <div class="bar"></div>
              <div class="leftbar"></div>
            </a>
            <a href="/details" class="link">
              <div class="title">details</div>
              <div class="bar"></div>
              <div class="leftbar"></div>
            </a>
            <a href="/ourstory" class="link">
              <div class="title">our story</div>
              <div class="bar"></div>
              <div class="leftbar"></div>
            </a>
          </div> 
          {{!-- end of navbar hidden-phone --}}
        
          <div class="dropdown toggle-nav visible-xs">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class='fa fa-bars'></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/">Home</a></li>
              <li><a href="RSVP">RSVP</a></li>
              <li><a href="/details">Details</a></li>
              <li><a href="/ourstory">Our Story</a></li>
            </ul>
          </div>
          {{!-- end of dropdown toggle-nav --}}


        {{!-- <a class="toggle-nav visible-xs" href="#">Menu</a> --}}
        </div>  {{!-- div class header --}}

      </nav>
    </header>
 
{{{body}}}

</div>
<footer>
<div class="visual-space">
    <p>Copyright &copy; Benjamin Downs 2015</p>
</div>
</footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js'></script>

    <script src="/js/main.js"></script>

    <script>
      $("#rsvpForm").validate();
    </script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- Custom Theme JavaScript -->
</body>
</html>
