<div class='container'>
	<div class='text-center'>
		<form action="/rsvp" method="post" id="rsvpForm">
		<div class='row'>
			<div class='col-md-4 col-md-offset-1 well drop-shadow'>
				<label>First Name(s)</label>
					<input class='form-control' type='text' name='name' required></input>
			</div>
			<div class='col-md-2'>
			</div>
			<div class='col-md-4 well drop-shadow'> 
				<label>Last Name</label>
					<input class='form-control' type='text' name='lastName' required></input>
			</div>
			<div class='col-md-1'>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-4 col-md-offset-1 text-center well drop-shadow'>
				<label>RSVP</label>
					<select class="form-control" name='attendance' required>
					  <option></option>
					  <option>Yes, I plan to attend.</option>
					  <option>Regrets</option>
					</select>
			</div>
			<div class='col-md-2'>
			</div>
			<div class='col-md-4 well drop-shadow'>
				<label>How many people with you?</label>
					<select class="form-control" name='quantity' required>
					  <option></option>
					  <option>Just me!</option>
					  <option>+1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					  <option>6</option>
					  <option>7</option>
					  <option>Seriously? More than 7?</option>
					</select>
			</div>
			<div class='col-md-2'>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-5 text-center well drop-shadow'>
			<label>How do you know Sarah and/or Aaron?</label><br>
				<textarea class="form-control" id='formStory' name='howYouKnow' rows="3" required></textarea>
			</div>
			<div class='col-md-2'>
			</div>
			<div class='col-md-5 text-center well drop-shadow'>
			<label>How long have you known them?</label><br>
				<textarea class="form-control" id='formStory' name='howLong' rows="3" required></textarea>
			</div>
		</div>
		<input style='margin: 20px' type='submit'></input>
		</form>
	</div>
</div>