{{!-- <div class='col-md-12 text-center'>
	<h1 class='heading'>Our Story</h1>
</div> --}}

<div class='col-md-12 row' id='story-background'>
	
	<div class="col-md-5 col-md-push-1 story text-center">
		
		<img src='/img/squaresarahB&W.png' class="story-pic"></img>
	<h2 class='text-center'>Sarah's Story</h2>
	
<div class='col-md-12'>
<p>I was out with my mother one weekend night when we decided to stop in Lowe's to price their lawn equipment. I had recently bought my first house and was in desperate need of something to tame the jungle that was developing outside. Little did I know that action would change my life forever. </p>

<p>There at Lowe's, a nice guy named Aaron helped me pick out the right edger and weed eater that I would need for the house. There was instantly a rapport between us, but I was apprehensive as always. While I was paying, Aaron showed up again and said he would help us out to the car. We didn't need the help, but I obliged. While walking out to the car there was small talk and he seemed nervous.</p> <p>My mom went straight for the car and got in, leaving me alone with Aaron to load the lawn equipment. Thanks a lot! I could just tell he probably wanted to ask me something, and in turn that made me nervous! Well, he didn't ask and instead just said "have a good night." <br><br><strong>Whew!</strong><br><br> I got in the car and my mom said, "I could see him falling for you right in front of my eyes!" It was a few weeks before I went back to Lowe's. I had even gone to Home Depot in the mean time to avoid seeing "the Lowe's guy" again. I was busy with life and work and not looking for a relationship nor did I want to deal with the awkward confrontation. Well, I went back to Lowe's and wasn't even going to Aaron's department. Somehow he saw me and the next thing I heard echoing from the top of a big lift across the way was  "hey Sarah!" I had no clue what his name was and was discreetly trying to look at his badge as he approached. He helped me find some hooks for my necklaces and then nervously asked for my number so we could maybe get coffee sometime. There was something endearing about him and to both his and my surprise, I gave him my real number! 
After a couple months of coffee dates, we went on our first real date and he has had my heart ever since.

</div>
</div>






	<div class='col-md-1 text-center'>

	</div>
	
	<div class="col-md-5 story text-center">
		
		<img src='/img/squareAaron.png' class='story-pic'></img>

		<h2 class='text-center'>Aaron's Story</h2>
		
		<p>Sarah had just closed on her first house, and she came into Lowe's with her mom to buy a weed eater. I am the sales specialist over that particular department, so it was me they talked to. Sarah and I got along right away. To quote Mrs. Parker when she talks about how I reacted to Sarah, "I have never seen anyone fall so hard". Sarah bought a weed eater and an edger attachment and then went to the front to pay. I couldn't stop thinking about her so I went up there and offered to carry the items to their car (even though they totally didn't need any help). I couldn't work up enough courage to ask for her number. They left, and I beat myself up for 2 weeks over it, until Sarah came back in for some picture hanging supplies. They are not even in my area, but I took her to them anyway. I wasn't about to let her get out of that store again without getting her number! I finally asked and she gave it to me. From there it was a steady stream of coffee dates for about 2 months until she was finally ready for a real first date!</p>

	</div>	

</div>