{{!-- <div class='col-md-12 text-center'>
	<h1 class='heading'>Our Story</h1>
</div> --}}
<div class='col-md-12' id='story-background'>
	
	<div class='col-md-5 story'>
		<h2 class='text-center'>Sarah's Story</h2>
		<img src='/img/sarahB&W.jpg'></img>
		<p>One random night, shortly after I had bought my house,
I realized I needed some lawn equipment. I and my mother had
just left a classical concert at the Peace Center and decided they had
time to run into Lowe's to check prices. Aaron is the sales specialist
in the lawn and garden department and just happened to be working that
night. There was instantly a rapport between us, but I
was apprehensive, as always. I went to the front to pay for the
weed eater and edger that I found, but somehow Aaron just happened to be
there. He helped me and my mom to the car, even though they
didn't need help! It was obvious he wanted to ask something there at
the car, but he didn't. I later found out that Aaron beat himself up
for not asking for my number, and was determined to ask if he ever
saw her again. He got his chance a few days later, when I returned to Lowe's. Although I wasn't
going to Aaron's department he saw me and was determined to talk to
me. He helped me find some hooks to hang my necklaces from, and
then after some small talk asked for my number. To both of our
surprise, I gave him my actual phone number! The next two months
was a steady stream of coffee dates until finally one day I agreed
to a real first date! ... and the rest is history!</p>
		</div>
	<div class='col-md-2 text-center'>

	</div>
	
	<div class="col-md-5 story">
		<h2 class='text-center'>Aaron's Story</h2>
		<img src='/img/Aaron.jpg'></img>
		<p>Sarah had just closed on her first house, and she came into Lowe's with her mom to buy a weed eater. I am the sales specialist over that particular department, so it was me they talked to. Sarah and I got along right away. To quote Mrs. Parker when she talks about how I reacted to Sarah, "I have never seen anyone fall so hard". Sarah bought a weed eater and an edger attachment and then went to the front to pay. I couldn't stop thinking about her so I went up there and offered to carry the items to their car (even though they totally didn't need any help). I couldn't work up enough courage to ask for her number. They left, and I beat myself up for 2 weeks over it, until Sarah came back in for some picture hanging supplies. They are not even in my area, but I took her to them anyway. I wasn't about to let her get out of that store again without getting her number! I finally asked and she gave it to me. From there it was a steady stream of coffee dates for about 2 months until she was finally ready for a real first date!</p>

	</div>	

</div>